@tailwind base;
@tailwind components;
@tailwind utilities;

.console {
    box-sizing: border-box;
    padding: 10px;
    background-color: black;
    color: white;
    overflow-y: scroll;
    font-family: monospace;
    font-size: 1.1em;
    white-space: pre;
    padding-bottom: 30px;
}

.prompt {
    display: inline-block;
    white-space: pre;
}

.user-input {
    font-family: monospace;
    background-color: inherit;
    color: inherit;
    display: inline-block;
    width: 95%;
}

.user-input:focus {
    appearance: none;
    outline: none;
}