@tailwind base;
@tailwind components;
@tailwind utilities;

.toolbar {
    display: flex;
    box-sizing: border-box;
    height: 50px;
    font-family: monospace;
    font-size: 1.1em;
    background-color: pink;
    color: black;
    justify-content: left;
    align-items: center;
    padding-left: 10px;
}

.toolbar.dark {
    background-color: cyan;
}

.toolbar-button {
    outline: 1px solid black;
    padding: 10px;
    margin-right: 10px;
    border-radius: 100%;
}

.toolbar-button:hover:not(:disabled) {
    background-color: rgba(255, 255, 255, 0.5);
}

.toolbar-button.disabled {
    opacity: 0.5;
}

.spinner {
    animation: rotation 1.5s infinite linear;
}

@keyframes rotation {
    from {
        transform: rotate(0deg);
    }

    to {
        transform: rotate(359deg);
    }
}